.custom-scroll::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}
.custom-scroll::-webkit-scrollbar-track {
  box-shadow: none;
  background-color: transparent;
}
.custom-scroll::-webkit-scrollbar-thumb {
  background-color: rgba(196, 196, 196, 1);
  outline: 0;
  border-radius: 20px;
}

.transparent-scroll::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}
.transparent-scroll::-webkit-scrollbar-track {
  display: none;
  box-shadow: none
}
.transparent-scroll::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.057);
  outline: 0;
  border-radius: 20px;
}